body {
  background-color: #56a0d4;
  quotes: '\201c' '\201d'; 
}

#content-wrap {
  max-width: 450px;
  margin: auto;
}

h1 {
  color: white;
  font-size: 2.8em;
  text-align: center;
  font-family: sans-serif;
}

h1:hover {
  color: black;
}

#quote1 {
  color: white;
  text-align: center;
  margin: auto;
  font-size: .9em;
  font-family: Times, 'Times New Roman', serif;
  font-weight: bold;
  line-height: 1.6em;
}

h2 {
  color: white;
  font-size: 1.1em;
  text-align: center;
  font-family: sans-serif;
}

ol {
  margin-left: -1.45em;
}

#list {
  display: block;
  margin: 1.8em auto 1em; 
  font-family: 'Arial Black', sans-serif;
  font-size: .95em;
}

li {
  margin: 1em 0;
}

 img {
  width: 45%;
  display: block;
  margin: 0 auto;
}
#quote2 {
  color: white;
  text-align: center;
  margin: 1em 1em;
  font-size: 2.5em;
  font-family: 'Times New Roman', Times, serif;

 }

 footer {
  text-align: center;
  margin: auto 1.3em;
  font-family: Arial, sans-serif, Verdana;
  font-weight: bold;
  font-size: 1em;
 }