.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 840px;
    height: 880px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-template-areas:
        "pic ."
}

.image {
    grid-column: 1/2;
    grid-row: 1/4;
    z-index: 0;
    height: 460px;
    width: 420px;
    grid-area: pic;
}

.tart {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 130px;
    font-weight: bold;
    z-index: 1;
    margin-top: 80px;
}

.sweet {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 130px;
    font-weight: bold;
    z-index: 1;
    margin-top: 80px;
    text-align: left;
    padding-left: 20px;
}

.cherries {
    grid-column: 2/3;
    grid-row: 3/4;
    color: #9a1118;
    font-size: 66px;
    font-weight: bold;
    z-index: 1;
    box-sizing: border-box;
    height: 460px;
    width: 420px;
    grid-area: che;
    margin-top: 270px;
    
} 

.empty {
    background-color: lightgray;
    grid-column: 2/3;
    grid-row: 1/4;
    z-index: 0;
    height: 400px;
    width: 420px;
    padding: 30px;
}
